ul{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    gap:1.5rem;
    padding: 2rem;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}



.icon{
    width: 20px;
    vertical-align: middle;
}