<div class="container">
    <action-bar class="shadow"></action-bar>
    <div class="content">
        <h1 class="dashboard-title">Historial de sensores</h1>
        <div class="dashboard-section dashboard-table">
            <div class="table-header">
                <h2>Sensores</h2>
            </div>
            <hr>
            <table>
                <tr>
                    <th>Acción</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>Crear planta: Ana</td>
                    <td>45/34/23</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>


