.container{
    display: flex;
    max-width: 100vw;
}

.content{
    display: flex;
    gap:1rem;
    flex-direction: column;
    background-color: white;
    background-color: var(--panel-backg);
    flex-grow: 1;
    min-height: 100vh;
    padding: 1.5rem;
    max-width: 100%;
    overflow: hidden;
}

.shadow{
    box-shadow: -2px -1px 11px 1px rgba(189, 189, 189, 0.8);
    z-index: 1;
}

.icon{
    height: 12px;
}

.icon-reading{
    width: 14px;
}



.action-td{
    width: 20%;
}

.secondary-button{
    border: none;
    outline: 2px solid var(--primary);
}

.dashboard-readings h3{
    text-align: left;
}

button.dashboard-readings{
   border: none;
}

button.dashboard-readings:hover{
    cursor: pointer;
    outline: 2px solid var(--primary);
 }

 button.dashboard-readings.disabled{
    filter:brightness(0.7);
 }

 .less-h2{
    font-weight: 500;
    font-size: 16px;
}

 .factory-title{
    display: flex;
    align-items: center;
    color: var(--primary);
    font-size: 12px;
    gap:0.5rem;
 }

 .factory-title p{
    font-weight: 600;
 }

 select{
    max-width: 100%;
 }

 @media (max-width: 782px) {
  
    .table-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
  }

  @media (max-width: 650px) {
  
    .oculte-650 {
       display: none;
    }
  }

  @media (max-width: 500px) {

    .content{
        background-color: var(--phone-back);
    }

    .shadow{
        box-shadow: none;
        border-bottom: solid 1px #F3F3F3;
    }

    .actions-menu-container{
        gap:0.5rem;
    }
    
  }