<div class="container">
    <action-bar class="shadow"></action-bar>
    <div class="content">
        <h1 class="dashboard-title">Monitoreo por planta</h1>
        <div class="dashboard-section dashboard-table">
            <form (keydown)="listenerEscape($event)" [formGroup]="searchForm" class="table-header">
                <h2>Buscar planta</h2>
                <label for="name">Nombre planta</label>
                <input (change)="search($event)" type="text" placeholder="Ingrese nombre" id="name" formControlName="name">
                <label for="country">País</label>
                <select (change)="search($event)" type="text" placeholder="Seleccione país" id="country" formControlName="country">
                    <option [value]="null">Elegir opción</option>
                    <option *ngFor="let country of countries;let i=index" [value]="i">
                        {{country.name.common}}
                    </option>
                </select>
                <button type="submit" (click)="search($event)" class="table-header--button">Buscar</button>
                <button type="reset" (click)="resetFilter()" class="table-header--button">Borrar filtros</button>
            </form>
            <hr>
            <table>
                <tr>
                    <th>País</th>
                    <th>Nombre de la planta</th>
                    <th>Lecturas</th>
                    <th>Alertas medias</th>
                    <th>Alertas rojas</th>
                    <th>Acciones</th>
                </tr>
                <tr *ngFor="let factory of filteredFactories">
                    <td>
                        <img class="flag" [src]="factory.flag" [alt]="'Bandera de '+factory.country">
                        {{factory.country}}
                    </td>
                    <td>{{factory.name}}</td>
                    <td>{{factory.readings}}</td>
                    <td>{{factory.medium_alerts}}</td>
                    <td>{{factory.red_alerts}}</td>
                    <td class="action-td"><button [ngClass]="{'primary-button':!selectedFactory || selectedFactory.id!=factory.id,'secondary-button':selectedFactory && selectedFactory.id==factory.id}" (click)="selectFactory(factory.id)">{{(selectedFactory && selectedFactory.id==factory.id)?"Deseleccionar":"Seleccionar"}}</button></td>
                </tr>
            </table>
        </div>
        <!-- solo mostrar si hay alguna planta seleccionada -->
         @if (sensores) {
            <div>
                <h2 class="less-h2">Monitoreo por plantas <span> | Haga click para habilitar / deshabilitar</span></h2>
                <div class="factory-title" *ngIf="selectedFactory">
                    <img class="flag" [src]="selectedFactory.flag" [alt]="'Bandera de '+selectedFactory.country">
                    <p>{{selectedFactory.country}}{{selectedFactory.name}}</p>
                </div>
            </div>
            <div class="readings">
                <button *ngIf="sensores[types.TEMPERATURA]" (click)="btnToggleSensor(types.TEMPERATURA)"  class="dashboard-section dashboard-readings" [ngClass]="{'disabled':sensores[types.TEMPERATURA].disabled==1}">
                    <div class="dashboard-section--info">
                        <h3>Temperatura</h3>
                        <div class="dashboard-readings">
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/ok-l.svg" alt="">{{sensores[types.TEMPERATURA]?.readings??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-medias-l.svg" alt="">{{sensores[types.TEMPERATURA]?.medium_alerts??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-rojas-l.svg" alt="">{{sensores[types.TEMPERATURA]?.red_alerts??0}}</p>
                        </div>
                    </div>
                    <img class="dashboard-section--img" src="./assets/temperatura.svg" alt="">
                </button>
                <button *ngIf="sensores[types.PRESION]" (click)="btnToggleSensor(types.PRESION)" [ngClass]="{'disabled':sensores[types.PRESION].disabled==1}" class="dashboard-section dashboard-readings">
                    <div class="dashboard-section--info">
                        <h3>Presión</h3>
                        <div class="dashboard-readings">
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/ok-l.svg" alt="">{{sensores[types.PRESION]?.readings??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-medias-l.svg" alt="">{{sensores[types.PRESION]?.medium_alerts??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-rojas-l.svg" alt="">{{sensores[types.PRESION]?.red_alerts??0}}</p>
                        </div>
                    </div>
                    <img class="dashboard-section--img" src="./assets/presion.svg" alt="">
                </button>
                <button *ngIf="sensores[types.VIENTO]" (click)="btnToggleSensor(types.VIENTO)" [ngClass]="{'disabled':sensores[types.VIENTO].disabled==1}" class="dashboard-section dashboard-readings">
                    <div class="dashboard-section--info">
                        <h3>Viento</h3>
                        <div class="dashboard-readings">
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/ok-l.svg" alt="">{{sensores[types.VIENTO]?.readings??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-medias-l.svg" alt="">{{sensores[types.VIENTO]?.medium_alerts??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-rojas-l.svg" alt="">{{sensores[types.VIENTO]?.red_alerts??0}}</p>
                        </div>
                    </div>
                    <img class="dashboard-section--img" src="./assets/viento.svg" alt="">
                </button>
                <button *ngIf="sensores[types.NIVELES]" (click)="btnToggleSensor(types.NIVELES)" [ngClass]="{'disabled':sensores[types.NIVELES].disabled==1}" class="dashboard-section dashboard-readings">
                    <div class="dashboard-section--info">
                        <h3>Niveles</h3>
                        <div class="dashboard-readings">
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/ok-l.svg" alt="">{{sensores[types.NIVELES]?.readings??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-medias-l.svg" alt="">{{sensores[types.NIVELES]?.medium_alerts??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-rojas-l.svg" alt="">{{sensores[types.NIVELES]?.red_alerts??0}}</p>
                        </div>
                    </div>
                    <img class="dashboard-section--img" src="./assets/niveles.svg" alt="">
                </button>
                <button *ngIf="sensores[types.ENERGIA]" (click)="btnToggleSensor(types.ENERGIA)" [ngClass]="{'disabled':sensores[types.ENERGIA].disabled==1}" class="dashboard-section dashboard-readings">
                    <div class="dashboard-section--info">
                        <h3>Energía</h3>
                        <div class="dashboard-readings">
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/ok-l.svg" alt="">{{sensores[types.ENERGIA]?.readings??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-medias-l.svg" alt="">{{sensores[types.ENERGIA]?.medium_alerts??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-rojas-l.svg" alt="">{{sensores[types.ENERGIA]?.red_alerts??0}}</p>
                        </div>
                    </div>
                    <img class="dashboard-section--img" src="./assets/energia.svg" alt="">
                </button>
                <button *ngIf="sensores[types.TENSION]" (click)="btnToggleSensor(types.TENSION)" [ngClass]="{'disabled':sensores[types.TENSION].disabled==1}" class="dashboard-section dashboard-readings">
                    <div class="dashboard-section--info">
                        <h3>Tensión</h3>
                        <div class="dashboard-readings">
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/ok-l.svg" alt="">{{sensores[types.TENSION]?.readings??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-medias-l.svg" alt="">{{sensores[types.TENSION]?.medium_alerts??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-rojas-l.svg" alt="">{{sensores[types.TENSION]?.red_alerts??0}}</p>
                        </div>
                    </div>
                    <img class="dashboard-section--img" src="./assets/tension.svg" alt="">
                </button>
                <button *ngIf="sensores[types.CO2]" (click)="btnToggleSensor(types.CO2)" [ngClass]="{'disabled':sensores[types.CO2].disabled==1}" class="dashboard-section dashboard-readings">
                    <div class="dashboard-section--info">
                        <h3>Monóxido de carbono</h3>
                        <div class="dashboard-readings">
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/ok-l.svg" alt="">{{sensores[types.CO2]?.readings??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-medias-l.svg" alt="">{{sensores[types.CO2]?.medium_alerts??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-rojas-l.svg" alt="">{{sensores[types.CO2]?.red_alerts??0}}</p>
                        </div>
                    </div>
                    <img class="dashboard-section--img" src="./assets/co2.svg" alt="">
                </button>
                <button *ngIf="sensores[types.OTROS]" (click)="btnToggleSensor(types.OTROS)" [ngClass]="{'disabled':sensores[types.OTROS].disabled==1}" class="dashboard-section dashboard-readings">
                    <div class="dashboard-section--info">
                        <h3>Otros gases</h3>
                        <div class="dashboard-readings">
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/ok-l.svg" alt="">{{sensores[types.OTROS]?.readings??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-medias-l.svg" alt="">{{sensores[types.OTROS]?.medium_alerts??0}}</p>
                            <p class="flex small-reading"><img class="icon-reading" src="./assets/alertas-rojas-l.svg" alt="">{{sensores[types.OTROS]?.red_alerts??0}}</p>
                        </div>
                    </div>
                    <img class="dashboard-section--img" src="./assets/otros-gases.svg" alt="">
                </button>
            </div>
         }
         
    </div>
    
</div>

