.container{
    display: flex;
    max-width: 100vw;
}

.content{
    display: flex;
    gap:1rem;
    flex-direction: column;
    background-color: white;
    background-color: var(--panel-backg);
    flex-grow: 1;
    min-height: 100vh;
    padding: 1.5rem;
}

.shadow{
    box-shadow: -2px -1px 11px 1px rgba(189, 189, 189, 0.8);
    z-index: 1;
}

.icon{
    height: 12px;
}

.icon-reading{
    width: 14px;
}

.less-h2{
    font-weight: 400;
}