<div class="container">
    <action-bar class="shadow"></action-bar>
    <div class="content">
        <h1 class="dashboard-title">Historial de plantas</h1>
        <div class="dashboard-section dashboard-table">
            <div class="table-header">
                <h2>Plantas</h2>
            </div>
            <hr>
            <table class="table-records">
                <tr>
                    <th>Acción</th>
                    <th>Fecha</th>
                </tr>
                <tr *ngFor="let record of recordFactories">
                    <td>{{record.action}}</td>
                    <td>{{record.date|date:"dd/MM/yy - hh:mm:ss"}} hs</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>


