.marco{
    z-index: 10;
    
    
    position: fixed;
    bottom: 0;
    left: 0;
    
    width: 100vw;
    padding: 1rem;
    
}

.content{
    border-radius: 12px;
    background-color: white;
    max-width: 100%;
    padding: 1rem;
    box-shadow: -2px -1px 11px 1px rgba(189, 189, 189, 0.5);
}

h3{
    font-weight: 500;
}

