<nav>
    <img class="icon-logo" src="./assets/logo.svg" alt="">
    <a class="icon" routerLink="/dashboard"><img src="./assets/dashboard.svg" alt=""></a>
    <a class="icon" routerLink="/factory"><img src="./assets/monitoreo-planta.svg" alt=""></a>
    <a class="icon" routerLink="/records-sensors"><img src="./assets/hist-sensores.svg" alt=""></a>
    <a class="icon" routerLink="/records-factories"><img src="./assets/hist-plantas.svg" alt=""></a>
    <button class="icon" (click)="logOut()"><img src="./assets/cerrar-sesion.svg" alt=""></button>
</nav>
