.container{
    display: flex;
    max-width: 100vw;
}

.content{
    display: flex;
    gap:1rem;
    flex-direction: column;
    background-color: white;
    background-color: var(--panel-backg);
    flex-grow: 1;
    min-height: 100vh;
    padding: 1.5rem;
}

.shadow{
    box-shadow: -2px -1px 11px 1px rgba(189, 189, 189, 0.8);
    z-index: 1;
}

.icon{
    height: 12px;
}

.icon-reading{
    width: 14px;
}

.flag{
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
    object-fit: cover;
}

.actions-menu,.actions-menu-container{
    display: flex;
    align-items: center;
    gap:1rem;
}

.actions-menu img{
    width: 1.2rem;
}

.actions-menu button{
    background: none;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-menu button:hover{
    filter:brightness(1.4);
    cursor: pointer;
}