@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --gray-light:#FBFCFC;
    --primary:#33A3AA;
    --primary-hover:#07d1df;
    --panel-backg:#E9F1F4;
    --light-text:#838B9E;
    --phone-panel-back:#F9F9FA;
    --global-border-radius:15px;
    font-family: "Poppins", serif;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button,input,select,option{
    font-family: "Poppins", serif;
    font-style: normal;
}

p{
    font-weight: 400;
    font-size: 14px;
    /* font-size: clamp(0.8rem,1vw,1rem); */
}


.login-button{
    background-color: var(--primary);
    color:white;
    border-radius: var(--global-border-radius);
    padding: 1rem 2rem;
    border: none;
}

.login-button:disabled{
   opacity: 0.5;
}

.login-button:not(:disabled):hover{
    cursor: pointer;
    filter: brightness(1.2);
 }

.primary-button{
    background-color: var(--primary);
    color:white;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    border: none;
}

.secondary-button{
    background: none;
    color:white;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    border: none;
    border: 2px solid var(--primary);
    color:var(--primary);
}

.secondary-button:hover{
    color: var(--primary-hover);
    border-color: var(--primary-hover);
    cursor: pointer;
}

.primary-button:not(:disabled):hover{
    background-color: var(--primary-hover);
    cursor: pointer;
}

.primary-button:disabled{
    opacity: 0.5;
}

span{
    color: var(--primary);
}

.error{
    color:red;
}

.readings{
    display: flex;
    gap:2rem;
    /* flex-wrap: wrap; */
}

h1.dashboard-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}

.dashboard-section{
    background-color: white;
    border-radius: var(--global-border-radius);
    padding: 1.5rem 1rem;
}

.dashboard-readings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap:2rem;
}

.dashboard-section--info{
    width: 100%;
}

.dashboard-section--info h3{
    color: var(--light-text);
    font-weight: 400;
    font-size: 12px;
}

.dashboard-section--info p{
    font-weight: 700;
    font-size: 20px;
    
}

.dashboard-section--info .small-reading{
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
}

.dashboard-section--img{
    width: 60px;
}

.dashboard-table table{
    text-align: left;
    width: 100%;
}

.table-header{
    display: flex;
    align-items: center;
    gap:2rem;
}

hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: #F3F6F7;
    border-width: 1px;
}

.table-header h2{
    font-weight: 600;
    font-size: 16px;
}

.table-header--button{
   border: none;
   border:1px solid #B0CAD1;
   border-radius: 5px;
   padding: 0.25rem 1rem;
   background: none;
}

.table-header--button:hover{
    cursor: pointer;
    color:var(--primary);
    border-color:var(--primary);
 }

.dashboard-table th{
    font-weight: 500;
    font-size: 14px;
    color:#B0CAD1;
}

.flex{
    display: flex;
}

.popup{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.395);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-bar{
    display: flex;
    gap:1rem;
    justify-content: center;
}

.buttons-bar button{
    width: 110px;
    font-size: 14px;
}

.dashboard-form{
    display: flex;
    flex-direction: column;
    gap:1rem;
    color:var(--light-text);
    padding: 1.5rem 2rem;
    min-width: 400px;
}

.dashboard-form--content{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.dashboard-form input,.dashboard-form select{
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 1px solid #DCDBDD;
    padding: 0.5rem 1rem;
}

.dashboard-form h2{
    font-weight: 500;
    font-size: 14px;
    color:black;
}

.dashboard-form label{
    font-weight: 500;
    font-size: 14px;
}

/* tooltips */

.tooltip {
    position: relative;
  }

  .tooltip .tooltiptextup {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptextup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:#555 transparent transparent transparent;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 10;
    bottom: 25%;
    left: 150%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:transparent #555  transparent transparent;
  }

  .tooltip:hover .tooltiptext,.tooltip:hover .tooltiptextup {
    visibility: visible;
    opacity: 1;
  }